<ion-view>
<ion-nav-bar class="bar bar-header bar-calm bar-clear item-input-inset ">

            <ion-nav-buttons >
                	<div class="navbarl">
                  <button class="button button-icon button-clear ion-navicon " menu-toggle="left"></button></div>

                  <div class="navbarm">
                     <h4><font color="white">CLEAN INDIA</font></h4>   </div>




            </ion-nav-buttons>
        </ion-nav-bar>

<ion-content>

<div class="mainscreen">
<button class="button button-calm" ui-sref="login">  driver </button>
<br>OR<br>
<button class="button button-calm" ui-sref="addrequest" >  User </button>
</div>

</ion-content>
</ion-view>
